.header {
  background-color: $color-mine-shaft;
  color: $color-white;
}

.header__top {
  height: 52px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 0.1rem solid $color-mercury;
  background-color: $color-mine-shaft;
  z-index: 1;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}

.header__name {
  font-size: 2rem;
  padding-left: 1.5rem;
  display: inline-block;
}
.rbcf-menu {
  font-size: 2.5rem;
  padding: 0.3rem;
  margin-right: 0.8rem;
  border-radius: 0.3rem;
  border: 0.1rem solid $color-white;
  cursor: pointer;
}

.header__menu-item {
  background-color: $color-mine-shaft;
  &:first-child {
    & .header__menu-link:after {
      font-family: 'roberto-blake-custom-font' !important;
      content: "\e902";
      font-size: 2rem;
    }
  }
}

.header__menu-link,
.header__menu-sub-link {
  color: $color-white;
  font-size: 1.5rem;
  text-decoration: none;
  padding: 0.6rem 1.5rem;
  display: block;
  cursor: pointer;
}

.header__menu-list {
  // display: none;
  transition: 0.25s;
  position: absolute;
  top: -100%;
  left: 0;
  right: 0;
  border: 0.1rem solid $color-mercury;
  padding: 0;
  z-index: 1;
}

#toggle-top-menu,
#header-sub-menu {
  display: none;
}

#toggle-top-menu:checked + .header__menu-list {
  // display: inherit;
  top: 5.2rem;
  padding: 0;
}

.header__sub-menu {
  display: none;
  list-style: none;
  padding-left: 1.5rem;
}
#header-sub-menu:checked + .header__menu-link + .header__sub-menu {
  display: inherit;
}

#header-sub-menu:checked + .header__menu-link .rbcf-circle-down:before {
  transform: rotate(180deg);
  display: inline-block;
}

.rbcf-circle-down {
  padding: 0 1rem;
}

.header__footer {
  background-color: $color-mine-shaft;
  color: $color-white;
  text-align: center;
  padding: 1.5rem;

  h2 {
    font-size: 2.4rem;
    font-weight: normal;
    margin: 1.5rem;
    text-align: center;
  }
}

.header__wrapper {
  background-color: $color-pizazz;
  
  h1 {
    color: $color-white;
    font-size: 3.6rem;
    font-weight: normal;
    padding: 1rem 1.5rem;
    text-align: center;
  }
}

%header__body {
  height: 61.1rem;
  background-position: center center;
  background-size: cover;
}

.header__body--home {
  background-image: url('/asset/image/robertoblake2016header.jpg');
  @extend %header__body;
} 

.header__body--about {
  background-image: url('/asset/image/robertoblake2016-design-header.jpg');
  @extend %header__body;
} 

.header__body--training {
  background-image: url('/asset/image/robertoblake2016-marketing-header.jpg');
  @extend %header__body;
}