extends ../_component/layout/layout
block awesome-config
  -
    let title = `Roberto Blake, Online Educator Proving Training, Coaching and Workshops`
    let description = `Roberto Blake provides remote and on-site training, consulting and coaching. His areas of expertise include video marketing and production, creative services, inbound marketing and SEO.`
block awesome-content
    include ../_component/mixin/link
    .header__wrapper
      h1 Roberto Blake: Consulting, Courses &amp; Workshops
      .header__panel
        .header__body--about
    .landing__content
      .text-justify
        h2 1-on-1 Coaching/Consulting (Individual)
        p Having someone be able to help you set an agenda and outline for developing your brand, improving your marketing or setting up your digital presence, can greatly accelerate your success and reduce frustration. The difference between success and failure is rarely a lack of ability or even effort, but a lack of clear objectives and the practical means to reach them. Being held accountable, and having additional guidance, techncial expertise or even just and outside perspective, can make a measurable difference.
        h3 Available Services Provided

      .text-justify
        h2 Consulting and Workshops (Corporate)
        p Social Media and Video Marketing are important aspects of the business world today when it comes to engaging with customers, growing brand awareness and driving conversions. Expertise in producing, developing and optimizing digital content is a priority and something that many companies would prefer to do in-house. Through specilaized training your internal departments can be equipped with the right workflows, best practices and tools required to ensure your business has an effective content strategy and process that converts, grows leads and grows engagement for your brand.
        h3 Services Offered
    hr