%button {
  border: 0.1rem solid $color-fuel-yellow;
  background-color: $color-sandy-brown;
  text-decoration: none;
  font-weight: normal;
  color: $color-white;
  border-radius: 0.5rem;
  
  &:hover {
    background-color: $color-fuel-yellow;
    border-color: $color-meteor;
  }
}
.button__download {
  @extend %button;
  text-transform: uppercase;
  font-size: 2rem;
  padding: 1rem 1.5rem;
  display: inline-block;
}
.button__small {
  @extend %button;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  margin: 0.8rem 0;
  display: inline-block;

  &:hover {
    text-decoration: none;
  }
}