// reset everything
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  outline: 0;
  vertical-align: baseline;
}

html {
  // reset the font-size to 10px
  font-size: 62.5%;
}

html,
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.content {
  // margin-top: 5.2rem;
  padding-top: 5.2rem;
}

p {
  font-size: 1.6rem;
}
a {
  color: $color-astral;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

hr {
  border-top: 0.1rem solid $color-gallery;
  margin: 1.5rem;
}

.youtube-video-16-by-9 {
  
  // get the percentage for 16 by 9
  padding-top: 56.25%;
  position: relative;
  width: 100%;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.text-justify {
  text-align: justify;

  p {
    padding: 1rem 0;
  }
}

.image img {
  max-width: 100%;
}

h3 {
  font-size: 1.4rem;
  padding: 1.5rem;
}

.list-padded {
  font-size: 1.2rem;
  padding: 1rem 3rem;
}

.no-disc {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}


.full-width {
  width: 24rem;
  height: 13.5rem;
}

%ul-list_design {
  // list-style: none;
  font-size: 1.3rem;
}

.content-side ul {
  @extend %ul-list_design;
}

.side-bar ul {
  @extend %ul-list_design;
  line-height: 1.5rem;
}

@import 'landing-content';