@media screen and (min-width: 768px){
  .image-text__wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;

    .text-justify {
      padding: 0 2rem;
    }
  }
  .two-column {
    display: flex;
  }
  .column {
    width: 50%;
    padding: 1rem;
    text-align: justify;
  }
  .landing__content {
    display: flex;
    flex-wrap: wrap;
  }
  .content-side {
    width: 65%;
  }
  .side-bar {
    width: 35%;
    padding: 1rem;
  }
}
