extends _component/layout/layout
block awesome-config
  -
    let title = `Roberto Blake Replica`
    let description = `This will be improved version of Roberto Blake's website`
block awesome-content
    .header__wrapper
      h1 Entrepreneur, Author & Speaker
      .header__panel
        .header__body
        .header__footer
          h2 Download My Free E-book on Personal Branding!
          a.header__download(
            href="join-newsletter.php",
            title="Download Free Personal Branding Ebook"
          ) Download