extends _component/layout/layout
block awesome-config
  -
    let title = `Roberto Blake Replica`
    let description = `This will be improved version of Roberto Blake's website`
block awesome-content
    p
      this is the landing page 
      span.rbcf-home3